.info {
    height: 30px;
    background-color: #ffffff;
}
.logo {
    height: 90px;
    background-color: #e5e7e6;
}

.menu li{
    display: inline;
    font-size: 14px;
    margin:  15px 0;

}

.menu {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-color: black;
    height: 40px;
    padding: auto;

}

.menu a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 13px 20px;
    height: 40px;

}

.menu ul {
    margin: 12px 0;
    padding: 0;
}
.conteiner img{
    max-width: 965px;
    width: 100%;
}
.conteiner {
    text-align: center;
    position: relative;
}
section {
    background-color: #d0002f;
}
.banner {
    position: absolute;
    background-color: rgba(182, 15, 32, 0.8);
    text-align: left;
    width: 100%;
    max-width: 400px;
}
